/Document$Type.class
/Document.class
/IDF.class
/Indexator.class
/Main.class
/Models$1.class
/Models.class
/MyDocHandler.class
/Pair.class
/ParserBrut.class
/ParserXML.class
/Stemming.class
/TF.class
/normalization.class
